<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>student_amount:</strong>
  <%= @school.student_amount %>
</p>

<%= link_to 'edit school', edit_school_path %>
<%= link_to 'schools list', schools_path %>